<section id="jobs" class="container">
    <h2 class="display-4 text-center mt-5 mb-3">Te estamos buscando</h2>
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100 pt-2">
                <i class="fas fa-laptop-code fa-5x"></i>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">Programador .NET C#</h4>
                    <p class="card-text">
                        Remoto full-time, para desarrollo de servicios, aplicaciones desktop y web.
                        Se valora experiencia con REST, desarrollo de APIs, GIT, Jira, Castle Windsor, Automapper, SOAP. 
                        Inglés medio/avanzado.  
                    </p>
                </div>
                <div class="card-footer py-4">
                    <p>Sé parte de un proyecto de una importante empresa internacional. Excelente ambiente de trabajo.</p>
                    <div class="btn btn-secondary">ID: 161</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 pt-2">
                <i class="fas fa-award fa-5x"></i>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">Tester para QA</h4>
                    <p class="card-text">
                        Remoto full-time, para la creación y ejecución de casos de prueba funcionales, 
                        detección y reporte de bugs, y verificación de la corrección de estos. 
                        Se valora experiencia en metodologías ágiles, manejo de bases de datos y SQL, 
                        uso de máquinas virtuales para el armado de los ambientes de prueba, Jira. 
                        Inglés medio/avanzado. 
                    </p>                    
                </div>
                <div class="card-footer py-4">
                    <p>Sé parte de un proyecto de una importante empresa internacional. Excelente ambiente de trabajo.</p>
                    <div class="btn btn-secondary">ID: 162</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 pt-2">
                <i class="fas fa-layer-group fa-5x"></i>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">Fullstack</h4>
                    <p class="card-text">
                        Desarrollador MVC / 
                        Desarrollador AngularJS / 
                        Desarrollador React / 
                        Desarrollador Node / 
                        Desarrollador Roku
                    </p>
                </div>
                <div class="card-footer py-4">
                    <p>Si tenés alguno de estos perfiles, envianos tu CV. Nos gustaría tenerlo a mano para nuestro próximo proyecto.</p>
                    <div class="btn btn-secondary">ID: 165</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid text-center py-4 mt-4" id="contact">
    <p class="lead">
        Para postularte, envianos tu CV, ID del puesto y remuneración pretendida a <a href="mailto:info@matira.com.ar">info@matira.com.ar</a>
    </p>  
</section>